html,
body {
  height: 100vh;
}

#vertical {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
}
#vertical-mobile {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
}



/* Pour les très très grands écrans */

@media (min-height: 715px) {
  #img-main{
    position: absolute;
    top: 130px;
    left: 372px;
    height: auto;
    width: 375px;
  }
  #ch-title{
    position: absolute;
    top: 680px;
    left: 627px;
    font-size: 25px;
    width: auto;

  }
  #title-descr{
    position: absolute;
    top: 338px;
    font-weight: 200;
    left: 780px;
    font-size: 15px;
    width: 460px;

  }
  #vertical {
    position: absolute;
    left: 270px;
    top: 132px;
    height: auto;

    font-size: 44px;
    text-align: center;
    width: 50px;

  }
}


@media (min-width: 1550px) {
  #title {
    font-size: 40px;
  }

  #vertical {
    position: absolute;
    left: 340px;
    top: 117px;
    height: auto;
    /* background-color: blue; */
    font-size: 57px;
    text-align: center;
    width: 50px;
    /* color: red; */
  }


  #content-desktop {
    display: flex;
    height: 100vh;
  }

  #img-main{
    position: absolute;
    top: 117px;
    left: 455px;
    height: 710px;
    width: auto;
  }
  #ch-title{
    position: absolute;
    top: 825px;
    left: 758px;
    font-size: 38px;
    width: auto;
    /* color: red; */
  }
  #title-descr{
    position: absolute;
    top: 520px;
    font-weight: 200;
    left: 970px;
    font-size: 19px;
    width: 460px;
    /* color: red; */
  }
}