html,
body {
  height: 100vh;
}

#vertical {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
}
#vertical-mobile {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
}



@media (min-height: 738px) {
  #img-main{
    position: absolute;
    top: 130px;
    left: 372px;
  }
}

@media (min-height: 780px) {
  #img-main{
    position: absolute;
    top: 130px;
    left: 372px;
  }
}

/* Pour les très très grands écrans */


@media (min-width: 1550px) and (min-height: 883px) {
  #title {
    font-size: 40px;
  }

  #menu-list{
    width: 474px;
  }


  #content-desktop {
    display: flex;
    height: 100vh;
  }

  #img-main{

    top: 117px;
    left: 455px;
    width: auto;
  }
}



#modal {
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

#modal.visible {
  visibility: visible;
  opacity: 1;
}